[submodule "components/busybox"]
	path = components/busybox
	url = git://git.busybox.net/busybox
[submodule "components/arm-trusted-firmware"]
	path = components/arm-trusted-firmware
	url = https://github.com/apritzel/arm-trusted-firmware.git
[submodule "components/u-boot"]
	path = components/u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "components/linux"]
	path = components/linux
	url = git@github.com:CallMeFoxie/linux.git
[submodule "components/sunxi-mali"]
	path = components/sunxi-mali
	url = git@github.com:Icenowy/sunxi-mali.git
