Source: linux-image-pine64
Section: devel
Priority: optional
Maintainer: Ashley the Foxie <pine64@victorianfox.com>
Standards-Version: 3.9.8
Build-Depends: dpkg (>= 1.13.19), debhelper (>= 9), gawk

Package: linux-image-pine64
Architecture: all
Depends: ${misc:Depends}, linux-image-4.13.0-rc4
Description: Metapackage for pine64 to keep up2date kernels via package
